@font-face {
  font-family: 'AnticDidone-Regular';
  src: local('Antic-Didone-Regular'), url(assets/fonts/AnticDidone-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'AnticDidone-Bolded';
  src: local('Antic-Didone-Regular'), url(assets/fonts/AnticDidone-Regular.ttf) format('truetype');
}

:root {
  --accentcolor-blue100: #50b2c0;
  --accentcolor-blue90: #7ac6ff;
  --accentcolor-fadedorange100: #faaa8d;
  --accentcolor-orange100: #ff4000;
  --accentcolor-orange80: rgba(217, 108, 6, 1);
  --accentcolor-orange90: rgba(255, 83, 25, 1);
  --colourbackground-peach: rgba(254, 239, 221, 1);
  --colourblack-grey10: rgba(217, 217, 217, 1);
  --colourblack-grey100: rgba(32, 30, 31, 1);
  --colourblack-grey80: rgba(65, 62, 64, 1);
  --colourblack-grey90: rgba(49, 47, 48, 1);
  --variable-collection-90: rgba(255, 83, 25, 1);
}

.App {
  text-align: center;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App .overlap-group {
  left: 29%;
  top: 23%;
  position: absolute;
}

.App .antic-didone-regular {
  font-family: "AnticDidone-Regular";
  letter-spacing: 0;
  color: var(--colourblack-grey100);
  font-weight: 400;
  font-size: 40px;
  line-height: normal;
  text-align: center;
}

.App .antic-didone-bolded {
  stroke: 3;
  font-family: "AnticDidone-Bolded";
  font-size: 140px;
  color: var(--colourblack-grey100);
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  text-align: center;
}

.sign-in,
.continue-as-guest {
  text-align: center;
}

.button {
  width: 220px;
  margin-top: 10px;
  padding: 10px 10px;
  border: none;
  border-radius: 5px;

  font-family: 'Circular',-apple-system,'BlinkMacSystemFont','Roboto','Helvetica Neue',sans-serif;
  font-size: 15px;
  font-weight: 550;
}

.sign-in .button {
  background-color: var(--accentcolor-orange100);
  color: white;
  margin-top: 20px;
}

.sign-in .button:hover {
  background-color: rgb(238, 64, 0);
  color: white;
  margin-top: 20px;
}

.continue-as-guest .button {
  background-color: white;
  color: rgb(255, 119, 70);
}

.continue-as-guest .button:hover {
  background-color: whitesmoke;
  color: rgb(255, 107, 53);
}

.display-data .button {
  margin-top: 60px;
  width: auto;
}
.dot {
  height: 1vw;
  width: 1vw;
  background-color: var(--accentcolor-orange100);
  border-radius: 50%;
  display: inline-block;
  margin-right: 1vw;
}

.overlap-group {
  line-height: 4vh;
}

::-webkit-resizer {
  display:none;
}