@font-face {
  font-family: 'AnticDidone-Regular';
  src: local('Antic-Didone-Regular'), url(assets/fonts/AnticDidone-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'AnticDidone-Bolded';
  src: local('Antic-Didone-Regular'), url(assets/fonts/AnticDidone-Regular.ttf) format('truetype');
}


.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.App .overlap-group {
  left: 30%;
  top: 23%;
  position: absolute;
}

.App .antic-didone-regular {
  font-family: "AnticDidone-Regular";
  letter-spacing: 0;
  font-weight: 400;
  font-size: 40px;
  line-height: normal;
  text-align: center;
}

.App .antic-didone-bolded {
  stroke: 3;
  font-family: "AnticDidone-Bolded";
  font-size: 140px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  text-align: center;
}

.App .sign-in {
  text-align: center;
}

.App .continue-as-guest {
  text-align: center;
}

.App .frame {
  height: 82px;
  position: relative;
  width: 337px;
}

.App .design-component-instance-node {
  width: unset !important;
}

:root {
  --colouraccentcolor-blue100: rgba(80, 178, 192, 1);
  --colouraccentcolor-fadedorange100: rgba(250, 170, 141, 1);
  --colouraccentcolor-orange100: rgba(255, 64, 0, 1);
  --colouraccentcolor-orange80: rgba(217, 108, 6, 1);
  --colouraccentcolor-orange90: rgba(255, 83, 25, 1);
  --colourbackground-peach: rgba(254, 239, 221, 1);
  --colourblack-grey10: rgba(217, 217, 217, 1);
  --colourblack-grey100: rgba(32, 30, 31, 1);
  --colourblack-grey80: rgba(65, 62, 64, 1);
  --colourblack-grey90: rgba(49, 47, 48, 1);
  --variable-collection-90: rgba(255, 83, 25, 1);
}
.dot {
  height: 1vw;
  width: 1vw;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  margin-right: 1vw;
}
.overlap-group {
  line-height: 4vh;
}